* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #303439;
    padding: 0 20%;
    margin-top: 20px;
    overflow-wrap: break-word;
}

.container {
    position: relative;
    width: 100%;
    margin: 20px auto;
    height: 300px;
    display: flex;
    justify-content: center;
}

.carousel {
    width: 85%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    width: 200%;
    flex-shrink: 0;
    transition: ease-out .5s;
    transform: translate(-20%);
}

.slider section {
    flex-basis: 20%;
    flex-shrink: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 0 10px 0 0;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 60%;
    object-fit:cover;
}

.slider .content {
    margin-top: 10px;
    padding: 10px;
    color: #5B5F64;
}

.content h2 {
    margin-bottom: 10px;
}

.content a {
    text-decoration: none;
    font-size: .8rem;
    color: #5B5F64;
}

.content a:hover {
    color: #1447D4;
}

.container a .fa-plus {
    font-size: 0.5rem;
}

.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #80858bc9;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: .8s;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover, .next:hover {
    background: #80858b;
}

